.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    margin: 1rem;
}
#movies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}
.card-body a.myBtn{
    color: white;
}